body{
    background-image: url(../img/background/cardtable.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.flips{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

html{
    min-height: 100vh;
}

body{
    margin: 0;
}

.flips{
    grid-column: 1 / -1;
}

.game{
    margin: 70px auto;
   display: grid;
   grid-template-columns: repeat(4,auto); 
   grid-gap: 20px;
   justify-content: center;
}

.card{
    position: relative;
}

.cardface{
    backface-visibility: hidden;
}

.card.visible .cardback{
    transform: rotateY(-180deg);
}

.card.visible .cardfront{
    transform: rotateY(0deg);
}

.cardfront{
    transform: rotateY(180deg);
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    z-index: 100;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    background-color: rgba(0, 0, 0, .6);
}
.overlay.visible{
    display: flex;
}

