header {
    font-family: cursive;
    margin-left: 724px;
}
body {
    background-image: url(../img/vs.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    height: 450px;
}
p4 {
    font-size: 16pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img.rockC {
    margin-left: 400px;
    height: 150px;
}
img.paperC {
    padding-left: 200px;
    height: 150px;
}
img.scissorsC {
    padding-left: 200px;
    height: 150px;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 780px;
    margin-top: 25px;
    margin-bottom: 10px;
}
section2 {
    height: 275px;
    position: relative;
}
p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 780px;
}
p3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 724px;
}
p4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 724px;
}
img.rock {
    margin-left: 400px;
    height: 150px;
}
img.paper {
    padding-left: 200px;
    height: 150px;
}
img.scissors {
    padding-left: 200px;
    height: 150px;
}
button.R {
    position: absolute;
    height: 150px;
    width: 128px;
    margin-right: -128px;
}
button.P {
    position: absolute;
    height: 150px;
    width: 150px;
    margin-right: -128px;
}
button.S {
    position: absolute;
    height: 150px;
    width: 119px;
    margin-right: -128px;
}